<div class="row">
    <h1> Product update form</h1>
    <form action="/products/update" method="POST" class="w-75 mt-4"><br>
        <input type="text" name="_id" id="_id" value="{{product._id}}" readonly>

        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{product.name}}" class="form-control">
        <label for="price">price</label>
        <input type="text" name="price" id="price" value="{{product.price}}" class="form-control">

        <label for="photo">photo</label>
        <input type="text" name="photo" id="photo" value="{{product.photo}}" class="form-control">

        <label for="images"> <span><img src="http://localhost:3000/uploads/{{product.photo}}" height="70px"
                    width="70px"></span> </label>

        <input type="file" accept="image/*" name="photo" class="form-control" id="photo" value="{{product.photo}}">
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{{!-- enctype="multipart/form-data" --}}


<p> image name</p>
<h3>{{product.photo}}</h3>


function deleteImage(imagePath) {
     var imagePath = 'public/uploads/img04.jpeg'
    fs.unlink(imagePath, (err) => {
      if (!err) {
        res.render('images')
      } else {
        res.redirect('/admin')
      }
    });
}
